td {  font: 12px/150% "ו"}
.bottom_eng {  font: 10px "Verdana", "Arial", "Helvetica", "sans-serif"}
a.index:link {  font: 12px "ו"; color: #444444; text-decoration: none}
a.index:hover {  color: #FF0000; text-decoration: underline}
.input {  font-size: 12px; border: 1px solid; border-color: #333333 black black}
.tab {  border: solid; border-width: 0px 1px; border-color: black #000000}
a.index {  font-family: "ו"; color: #444444; text-decoration: none}
